<!DOCTYPE html>
<html lang="">
    <head>
        <title>header index</title>
        <meta name="description" content="see how this thing work">
        <meta charset="utf-8"> 
        <meta name="robots" content="noindex,nofollow">
        <link rel="icon" href="https://img.icons8.com/fluent/48/000000/hamburger.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>
            body new text
        </h1>
        <form>
            <label for="userName">user name</label>
            <input type="text" id="userName" />
            <label>Email</label>
            <label>
                <input type="email"/>
            </label>
            <button type="submit">Submit</button>
        </form>
        <p>1 lets see how its could be to see a <mark> paragraph </mark> shown</p>
        <p><i>2 lets see how its could be to see a paragraph shown</i></p>
        <h2>
            burger png icon
        </h2>
        <p> 
            <img
            width="48"
            height="48"
            src="https://img.icons8.com/fluent/48/000000/hamburger.png" alt="/icons8-hamburger-48.png">
            <!-- <video controls height="100" width="100" >
                <source src="/video360p.mp4" type="">
            </video> -->
        </p>
        <h3>test link</h3> 
        <a 
        target="_blank"
        href="https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types">
        dev link
        </a>
        <h4></h4>
    </body>
</html>
